AWS_ACCESS_KEY_ID={your_access_key}
AWS_SECRET_ACCESS_KEY={your_secret_access_key}
AWS_REGION=ap-northeast-2
AWS_DEFAULT_REGION=ap-northeast-2
PYTHONPATH=/var/task
LOGPATH=/var/log
AWS_LAMBDA_FUNCTION_TIMEOUT=900